.snippet-box {
  display: flex;
  flex-direction: column;
  width: 55vw;
  min-height: 50vh;
  margin-top: 4px;
  margin-bottom: 16px;
}

textarea {
  min-width: 100%;
  max-width: 100%;
}

.notes-area {
  min-height: 100px;
  height: 15vh;
}

.code-area {
  min-height: 100px;
  height: 20vh;
}

.title {
  font-weight: bold;
}

.delete-button {
  text-align: right;
  align-self: flex-end;
  width: fit-content;
  padding: 4px;
}
