textarea, input {
  resize: vertical;
}

.notes-area {
  min-height: 144px;
  height: calc(var(--snippet-height)/4);
}

.code-area {
  min-height: 288px;
  height: calc(var(--snippet-height)/2);
}

.title {
  font-weight: bold;
}

.options-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.option-button {
  width: fit-content;
  padding: 4px;
}