textarea, input {
  resize: vertical;
}

.notes-area {
  min-height: 144px;
  height: calc(var(--snippet-height)/4);
}

.code-area {
  min-height: 288px;
  height: calc(var(--snippet-height)/2);
}

.title {
  font-weight: bold;
}

.options-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-fg-color);
  padding-top: var(--padding-narrow);
}

.option-button {
  width: fit-content;
  height: 44px;
  text-align: center;
  vertical-align: center;
  padding: var(--padding-narrow);
  border-radius: var(--border-radius);
  margin: 0 var(--margin-narrow) 0 var(--margin-narrow);
  border-width: 0;
}