.code-editor {
    display: flex;
    flex-direction: row;
}

.code-area, .line-number-area {
    font-size: 14px;
    /* line-height: var(--padding-thick); */
    padding-top: var(--padding-narrow);
    padding-bottom: var(--padding-narrow);
    resize: none;
    min-height: 100%;
    width: 100%;
}

.line-number-area {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
}