<button (click)="back()"><---<< Return to Snippets</button>
<textarea class="display-textarea" readonly>

    ___         _        ___      __  __         
    / __|___  __| |___   / __|___ / _|/ _|___ _ _ 
   | (__/ _ \/ _` / -_) | (__/ _ \  _|  _/ -_) '_|
    \___\___/\__,_\___|  \___\___/_| |_| \___|_|  
                                                  
   By  
    .----------------.  .----------------.  .----------------. 
    | .--------------. || .--------------. || .--------------. |
    | |     _____    | || |      __      | || |  ____  ____  | |
    | |    |_   _|   | || |     /  \     | || | |_  _||_  _| | |
    | |      | |     | || |    / /\ \    | || |   \ \  / /   | |
    | |   _  | |     | || |   / ____ \   | || |    \ \/ /    | |
    | |  | |_' |     | || | _/ /    \ \_ | || |    _|  |_    | |
    | |  `.___.'     | || ||____|  |____|| || |   |______|   | |
    | |              | || |              | || |              | |
    | '--------------' || '--------------' || '--------------' |
     '----------------'  '----------------'  '----------------' 
    
  2018
</textarea>
