
.import-snippet-table {
  min-height: 500px;
  min-width: 800px;
  height: 50vh;
  max-height: 50vh;
  overflow-y: scroll;
  width: 90vw;
}

.import-snippet-table__expansion {
  grid-column-start: 1;
  grid-column-end: 5;
}

.import-snippet-table__row {
  display: grid;
  grid-template-columns: calc((2 * var(--main-font-size)) + (4 * var(--padding-narrow))) 1fr 1fr calc((2 * var(--main-font-size)) + (4 * var(--padding-narrow)));
  min-height: calc((2 * var(--main-font-size)) + (4 * var(--padding-narrow)));
  box-sizing: border-box;
}

.import-snippet-table__cell {
  border-width: var(--border-width-thin);
  border-color: var(--main-fg-color);
  border-style: solid;
  padding: var(--padding-narrow);

  display: flex;
  align-items: center;
}

.import-snippet-table__cell--header {
  font-weight: bold;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

.import-snippet-table__cell--action {
  border: none;
}

app-snippet-box {
  place-self: center;
}
