.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
    height: 60px;
    width: 60px;
    align-self: center;
}

h1 {
    margin-top: var(--margin-narrow);
    text-shadow: var(--border-width-thick) var(--border-width-thick) var(--accent-fg-color);
}