:focus {
    border: none;
}

.panel {
    display: flex;
    align-items: left;
    flex-direction: column;
    max-height: 95vh;
}

.panel * {
    margin-bottom: var(--margin-narrow);
    flex-grow: 1;
}

app-strike-through-box {
    margin-top: var(--margin-narrow);
    margin-bottom: 0;
}

app-toast {
    display: flex;
    min-height: fit-content;
}

app-quick-links {
    flex-grow: 2;
    overflow: scroll;
}