<div class="sticky panel">

   <textarea class="code ascii" disabled>
8""""8                  8""""8                             
8    " eeeee eeeee eeee 8    " eeeee eeee eeee eeee eeeee  
8e     8  88 8   8 8    8e     8  88 8    8    8    8   8  
88     8   8 8e  8 8eee 88     8   8 8eee 8eee 8eee 8eee8e 
88   e 8   8 88  8 88   88   e 8   8 88   88   88   88   8 
88eee8 8eee8 88ee8 88ee 88eee8 8eee8 88   88   88ee 88   8 
   </textarea>
   <app-toast></app-toast>
   <button (click)="save()">Save</button>
   <button (click)="load()">Import</button>
   <button (click)="export()">Export</button>
   <button (click)="about()">About</button>
   <app-search-box></app-search-box>
</div>