.ascii {
    font-size: 5px;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    padding-bottom: 4px;
    padding-top: 12px;
    height: 60px;
    min-width: 180px;
    border: none;
    resize: none;
    
}
:focus {
    border: none;
}

.panel {
    display: flex;
    align-items: left;
    flex-direction: column;
}