.home {
  display: grid;
  grid-template-areas: 'side middle';
  grid-template-columns: 1fr 8fr;
}

app-middle-panel {
  grid-area: middle;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-bg-color);

  overflow-y: scroll;
  max-height: 100vh;
}
app-side-panel {
  grid-area: side;
  background-color: var(--main-bg-color);
}

app-toast {
  grid-area: middle;
  place-self: end;
  align-self: start;
  z-index: 2;
}

@media screen and (max-width: 750px) {
  app-side-panel {
    display: none;
  }
  .home {
    grid-template-areas: 'side middle';
    grid-template-columns: 0 8fr;
  }
}
