<div>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <button [ngClass]="searchParameters.title ? '' : 'unchecked'" (click)="searchParameters.title = !searchParameters.title; search(searchBox.value)">In
    Title</button>
  <button [ngClass]="searchParameters.code ? '' : 'unchecked'" (click)="searchParameters.code = !searchParameters.code; search(searchBox.value)">In
    Code</button>
  <button [ngClass]="searchParameters.tags ? '' : 'unchecked'" (click)="searchParameters.tags = !searchParameters.tags; search(searchBox.value)">In
    Tags</button>
  <button [ngClass]="searchParameters.notes ? '' : 'unchecked'" (click)="searchParameters.notes = !searchParameters.notes; search(searchBox.value)">In
    Notes</button>
</div>