.notes-editor {
    display: flex;
    flex-direction: var(--flex-row-direction);
    border-width: 0 0 var(--border-width-thin) 0;
    border-style: solid;
    border-color: var(--secondary-fg-color);
}

.notes-area, .expander {
    resize: none;
    min-height: calc(var(--main-font-size)*3);
    width: 100%;
    border: none;
}
.expander {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    width: 0;
}