.language-selector {
    padding: var(--padding-narrow);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.language-selector a {
    margin-left: var(--margin-narrow);
    margin-right: var(--margin-narrow);
}