.language-selector {
    position: absolute;
    top: var(--margin-narrow);
    right: var(--margin-narrow);
    display: flex;
}
.language-selector a {
    margin-left: var(--margin-narrow);
    margin-right: var(--margin-narrow);
}