.code-editor {
    display: flex;
    flex-direction: var(--flex-row-direction);
    border-width: 0 0 var(--border-width-thin) 0;
    border-style: solid;
    border-color: var(--secondary-fg-color);
}

.code-area, .line-number-area {
    font-size: var(--code-font-size);
    line-height: var(--code-line-height);
    padding-top: var(--padding-narrow);
    padding-bottom: var(--padding-narrow);
    resize: none;
    min-height: calc(6*var(--code-line-height));
    border: none;
}
.code-area {
    flex-grow: 2;
}
.line-number-area {
    padding-left: 0;
    padding-right: var(--padding-narrow);
    margin-top: 0;
    width: fit-content;
    text-align: var(--reverse-text-align);
}