.language-selector {
    padding: var(--padding-narrow);
    display: flex;
    justify-content: var(--flex-align);
    flex-direction: var(--flex-row-direction);
    height: fit-content;
    width: fit-content;
}
a {
    margin-left: var(--margin-narrow);
    margin-right: var(--margin-narrow);
}