:focus {
    border: none;
}

.panel {
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 100%;
}

.panel * {
    margin-bottom: var(--margin-narrow);
    width: 100%;
}

button {
    border: none;
}

app-strike-through-box {
    margin-top: var(--margin-narrow);
    margin-bottom: 0;
}

app-toast {
    display: flex;
    justify-self: var(--flex-align);
}
app-search-box, app-quick-links {
    border: none;
}
app-quick-links {
    flex-grow: 2;
    overflow: scroll;
    max-width: 18vw;
}