:focus {
  border: none;
}

.panel {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  place-content: start;
  row-gap: var(--margin-narrow);
  height: 100%;
  background-color: var(--main-bg-color);
}

button {
  border: none;
  min-height: fit-content;
}

app-strike-through-box {
  margin-top: var(--margin-narrow);
  margin-bottom: 0;
}
app-search-box,
app-quick-links {
  border: none;
}
app-quick-links {
  overflow: auto;
}
