<div class="quick-link" *ngFor="let snippet of pinnedSnippets">
  <button class="snippet-link quick-link-link" (click)="selectSnippet(snippet.id)"
  title="View Snippet" i18n-title="To tell the user that this button will make the snippet visible@@viewSnippetTooltip"
  label="View Snippet" i18n-label="@@viewSnippetTooltip"
  >{{snippet.title}}</button>
  <app-svg-button class="small-button" src="unpin" (click)="unpinSnippet(snippet.id)"
  title="Unpin" i18n-title="@@unpinFromQuickLinks"
  ></app-svg-button>
</div>
