.quick-link {
    width: 100%;
    display: flex;
    flex-direction: var(--flex-row-direction);
    margin-bottom: var(--margin-narrow);
    border: none;
}
.quick-link-link, .quick-link-x {
    padding: var(--padding-narrow);
    border: none;
    
}
.quick-link-link {
    flex-grow: 2;
}