<button (click)="back()" title="Return to Snippets" i18n-title="@@returnToSnippets" i18n="@@returnToSnippets">Return to Snippets</button>
<label for="import-snippets" i18n="@@pasteSnippetsToImport">Paste CodeCoffer XML/JSON below</label>
<textarea id="import-snippets" name="import-snippets" aria-label="Paste CodeCoffer XML/JSON below" i18n-aria-label="@@pasteSnippetsToImport"
[(ngModel)]="importedSnippets" class="display-textarea" spellcheck="false"
title="Paste CodeCoffer XML/JSON below" i18n-title="@@pasteSnippetsToImport" disabled></textarea>
<button (click)="save()" title="Import and Return to Snippets" 
i18n-title="Import the snippets pasted above and return to the main screen with the list of snippets@@importAndReturn" 
i18n="@@importAndReturn" appFocus>Import and Return to Snippets</button>