/* Root - with Variables */

:root {
  /*Only for container backgrounds that should match the page background*/
  --main-bg-color: rgba(244, 244, 244, 1); 
  --main-fg-color: rgb(9, 9, 9);

  /*For control and component backgrounds*/
  --secondary-bg-color: rgb(244, 244, 244); 
  --secondary-fg-color: rgb(9, 9, 9);

  --accent-bg-color: rgb(35, 135, 66);
  --accent-fg-color: rgb(244, 244, 244);

  --main-font-size: 1em;

  --snippet-width: 55vw;
  --snippet-height: 60vh;

  --border-radius: 4px;
  --border-width-thin: 1px;
  --border-width-thick: 2px;

  --padding-narrow: 4px;
  --margin-narrow: 4px;

  --padding-thick: 16px;
  --margin-thick: 16px;
}

/*Custom Classes*/


.sticky {
  position: sticky;
  top: var(--margin-narrow);
}

.display-textarea {
  min-height: 500px;
  min-width: 800px;
  height: 50vh;
  width: 90vw;
}

.code {
   font-family: monospace;
}

/*Custom Tags*/

app-export, app-import, app-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  width: 100%;
}

app-search-box {
  margin-top: var(--margin-thick);
}

app-snippet-box {
  display: flex;
  flex-direction: column;
  width: var(--snippet-width);
  margin-top: var(--margin-narrow);
  margin-bottom: var(--margin-thick);
  padding: var(--padding-thick);
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg-color);
  
  border-style: solid;
  border-width: var(--border-width-thick);
  border-color: black;
}

/*Tags*/

body, input, button, textarea {
   font-family: Arial, Helvetica, sans-serif;
   font-size: calc(0.1em + var(--main-font-size));
   margin: 0;
}
html {
  background-color: var(--main-bg-color);
}

h1 {
  color: var(--accent-bg-color);
  font-family: monospace;
}

a {
  color: var(--secondary-fg-color);
  text-decoration: underline;
  padding: var(--padding-thin);
  cursor: pointer;
}

pre {
  min-height: fit-content;
}

button {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-fg-color);
  padding: var(--padding-thick) var(--padding-thick) var(--padding-thick) var(--padding-thick);
  text-align: left;
  transition: background-color 0.2s, color 0.2s;
  border-width: var(--border-width-thin);
  border-color: var(--secondary-fg-color);
  border-radius: var(--border-radius);
}

label {
  padding: var(--padding-thick);
  border-radius: var(--border-radius);
}

input, textarea, pre {
  padding: var(--padding-thick);
  border-width: 0px 0px var(--border-width-thin) 0px;
  border-style: solid;
  caret-color: var(--secondary-fg-color);
  border-color: var(--secondary-fg-color);
  background-color: var(--secondary-bg-color);
  color: var(--secondary-fg-color);
  transition: background-color 0.2s, color 0.2s;
}

/*Pseudo Classes, etc*/

button:hover{
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}
::selection {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

input::selection, textarea::selection {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

:focus {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

input:focus, textarea:focus {
  border-style: solid;
  border-width: var(--border-width-thin);
  border-color: var(--accent-bg-color);
  caret-color: var(--accent-fg-color);
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

input:focus::selection, textarea:focus::selection {
  color: var(--secondary-bg-color);
  background-color: var(--secondary-fg-color);
}

button:focus{
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-style: solid;
  border-width: var(--border-width-thin);
  background-color: var(--accent-bg-color);
  border-color: var(--accent-fg-color);
}

/* Corner */
::-webkit-scrollbar-corner {
  background: var(--secondary-bg-color);
}