.home {
  display: flex;
  align-items: left;
  flex-direction: var(--flex-row-direction);
} 

app-middle-panel {
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  flex-grow: 2;
  background-color: var(--main-bg-color);
}
app-side-panel {
  display: flex;
  align-items: left;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  max-width: 18vw;
  width: 18vw;
  min-width: 18vw;
  height: 100vh;
}