.supplement-area {
  display: flex;
  flex-direction: column;
}

.code-area {
  height: calc(var(--snippet-height)/2);
}

.title {
  font-weight: bold;
}

.options-area {
  display: flex;
  flex-direction: var(--flex-row-direction);
  justify-content: var(--flex-align);
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-fg-color);
  padding-top: var(--padding-narrow);
}