.supplement-area {
  display: flex;
  flex-direction: column;
}

.code-area {
  height: calc(var(--code-line-height)*2);
}

.small-button {
  max-width: fit-content;
}

.options-area {
  display: flex;
  flex-direction: var(--flex-row-direction);
  justify-content: var(--flex-align);
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-fg-color);
  padding-top: var(--padding-narrow);
}

.title-row {
  display: flex;
  flex-direction: var(--flex-row-direction);
  justify-content: space-between;
}

.index {
  flex-grow: 1;
  max-width: fit-content;
}

.title {
  font-weight: bold;
  flex-grow: 2;
}